<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793108/blob/main/Actividades%20de%20aprendizaje%20-%20Ciencia%20de%20Datos%20-%20IBM%20-%20Ricardo%20Robayo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Modulo 1**
Curso de IBM

In [2]:
# para lograr imprimir resultados en pantalla
print("Hola\nMundo")
## para comentar resultados
# print("Hola\nMundo")

Hola
Mundo

# 1.1 Tipos de data
1.   character = str
2.   boolean = bool no se menciona como dato
3.   interger = int
4.   float = float

In [11]:
## tipo de data en python
print(type(int(1.1)))
print(bool(1))
print(int(True))

<class 'int'>
True
1

# 1.2 tipos de operaciones

In [10]:
  ## multiplicacion
print(1*33)
  ## suma 
print(1+33)
  ## resta
print(1-33)
  ## division
print(20/3)
print(20//3) ## sirve para generar algoritmos

33
34
-32
6.666666666666667
6

# 1.1 Strings

In [62]:
## Strings
## Metodos
  ## como las cadenas son secuencias pueden aplicarse métodos de listas y tuplas 
  ## pero adicionalmente tienen otro **grupo de métodos**

### union de variables 
print("gato" * 3)
print("perro gato" + "comen comida")
mascotas = "perro gato "
print( mascotas + "comen comida con otros perros")

#### indexación de strings
Numbers = "012345"
print(Numbers[:5]) ## imprime los numeros dentro del rango, inclido el final
print(Numbers[-1]) ## toma el ultimo elemento
print(Numbers[1:2]) ## acota la toma de elementos
print(Numbers[1:2])
print(Numbers[::2])
## restricciones determinar hasta que posicion toma informacion y luego cada 3 palabras
print(Numbers[:4:3]) 


### se le conoce como un final: \
print("perros y gatos \con dedos") ## se mantiene como un fin 
print("perros y gatos \\d")
print("perros y gatos\ncon dedos")
print(r"perros y gatos \\d") ## conserva un solo \
print("perros y gatos \tcon dedos")

###### metodos específicos para strings ########
nombre = "Jhonathan"
print(nombre.find("t")) # no admite listas para buscar elementos
print(nombre.find("th")) # arroja el valor donde se encuentra la primera letra en busqueda
print(nombre.upper())
print(nombre.replace("J", "X"))
print(len(nombre))

gatogatogato
perro gatocomen comida
perro gato comen comida con otros perros
01234
5
1
1
024
03
perros y gatos \ con dedos
perros y gatos \d
perros y gatos
con dedos
perros y gatos \\d
perros y gatos 	con dedos
5
5
JHONATHAN
Xhonathan
9

# **Modulo 2**



1.   Tuplas
2.   Listas
3.   Sets
4.   Dictionaries

# 2.1. Tuplas

In [77]:
# son elementos que no pueden ser modificados 
print(("disco", 10, 1.2))
print(("disco", 10, 1.2) + ("a", "c"))
print(("disco", 10, 1.2)[2]) #puedo ingresar por indexacion de forma directa
print(("disco", 10, 1.2)[-2]) # existe indexacion inversa
print(("disco", 10, 1.2)[1:3]) 

# las tuplas pueden contener otros elementos complejos o simples
NT = (1, 2, ("pop", "rock"), (3,4), ("disco", (1,2)))
print(NT[2]) # podemos considerarlo como si fueran arboles
print(NT[2][1])
print(NT[2][1][3])

('disco', 10, 1.2)
('disco', 10, 1.2, 'a', 'c')
1.2
10
(10, 1.2)
('pop', 'rock')
rock
k

# 2.2. Listas

In [107]:
L = ["Michale Jackson", 10.1, 1982] # puede contener elemenos
print(L)
print(L[0])
print(L[0:2])
print(L[0][1])
print(L + ["gatos"]) ## podemos aumentar elementos con suma
print(L + [(55)]) ## si introducimos una tupla en una lista con un solo elemento solo se incluye ese elemento
print(L + [("gatos", "caballo")]) ## se unen ya como tupla mas de un elemento
L.extend(["pop", 102]) ## aumenta la lista pero con los elementos pasados
print(L)
L.append(["pop", 102])
print(L)
L[0] = 1
print(L)
del(L[0]) ## Eliminar elementos
print(L)
resultado = "perro con gatos".split() # convertir un character en una lista
print(resultado)

['Michale Jackson', 10.1, 1982]
Michale Jackson
['Michale Jackson', 10.1]
i
['Michale Jackson', 10.1, 1982, 'gatos']
['Michale Jackson', 10.1, 1982, 55]
['Michale Jackson', 10.1, 1982, ('gatos', 'caballo')]
['Michale Jackson', 10.1, 1982, 'pop', 102]
['Michale Jackson', 10.1, 1982, 'pop', 102, ['pop', 102]]
[1, 10.1, 1982, 'pop', 102, ['pop', 102]]
[10.1, 1982, 'pop', 102, ['pop', 102]]
['perro', 'con', 'gatos']

In [110]:
## existen herencias cuando una variable toma los valores d euna inicial
### en este caso si A es igual a B, entonces, si cambia algo de A esto pasará 
### en B
A = ["hard rock", 10, 1.2]
B = A
print(A,B)

['hard rock', 10, 1.2] ['hard rock', 10, 1.2]

In [111]:
A[0] = "banana"
print(A,B)

['banana', 10, 1.2] ['banana', 10, 1.2]

In [112]:
## Lo anterior no sucederá si se realiza una clonacion de la lista
A = ["hard rock", 10, 1.2]
B = A[:] # clonacion
print(A,B)

['hard rock', 10, 1.2] ['hard rock', 10, 1.2]

In [114]:
A[0] = "banana"
print(A,B)

['banana', 10, 1.2] ['hard rock', 10, 1.2]

In [115]:
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
A=(0,1,2,3)

# 2.3 Sets

In [129]:
## a diferencia de las list y las tuplas, estas no mantienen el orden
SetExample = {"Triller", "rock and roll", "salsa", "amigos", "gato", "salsa", "Triller"}
print(SetExample) ## se resumen las palabras repetidas
SetExample.add("NSYNC")
print(SetExample)
SetExample.remove("NSYNC")
print(SetExample)
print("Who" in SetExample) # buscar si pertenece a ese elemento

{'salsa', 'gato', 'amigos', 'rock and roll', 'Triller'}
{'salsa', 'gato', 'amigos', 'rock and roll', 'NSYNC', 'Triller'}
{'salsa', 'gato', 'amigos', 'rock and roll', 'Triller'}
False

In [142]:
## operaciones logico matemático
set_1 = {1,2,3,4,5,90,66,23,356,76,32}
set_2 = {66,32,56,90}
set_3 = {66,32}
  ## interseccion de sets
print(set_1 & set_2) # devuelve los resultados de intersección de los datos
print(set_1.intersection(set_2)) 
  ## union de sets
print(set_1.union(set_2)) ## mezcla los elementos una zola vez si es no existe repetidos
  ## verificar si existen elementos de un set en otro
print(set_3.issubset(set_1))
print(set_3.issubset(set_2))

print(set_3.issuperset(set_1))
print(set_3.issuperset(set_2))
print(set_1.issuperset(set_3))

print(set_2.difference(set_3))
print(set_3.difference(set_2)) ## estan contenidos todos

{32, 66, 90}
{32, 66, 90}
{32, 1, 2, 3, 4, 5, 66, 356, 76, 23, 56, 90}
True
True
False
False
True
{56, 90}
set()

# 2.4. Dictionaries

In [165]:
# contienens keys and values
tabla = {"key1":1, "key2":"1", "key3":[1,46,23], "key4":(675,7,21), "key5":4}
print(tabla)
print(tabla.keys())
print(tabla.values())
print(tabla["key1"])
print(tabla["key3"])
tabla["key6"] = "hola mundo" # incluir un nuevo elemento
print(tabla)
# tabla = del(tabla["key1"])
print("key2" in tabla)
print("1" in tabla)

{'key1': 1, 'key2': '1', 'key3': [1, 46, 23], 'key4': (675, 7, 21), 'key5': 4}
dict_keys(['key1', 'key2', 'key3', 'key4', 'key5'])
dict_values([1, '1', [1, 46, 23], (675, 7, 21), 4])
1
[1, 46, 23]
{'key1': 1, 'key2': '1', 'key3': [1, 46, 23], 'key4': (675, 7, 21), 'key5': 4, 'key6': 'hola mundo'}
True
False