<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793108/blob/main/Actividades%20de%20aprendizaje%20-%20Ciencia%20de%20Datos%20-%20IBM%20-%20Ricardo%20Robayo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Curso de IBM

Nombre: Jhonathan Ricardo Robayo Martínez

Matrícula: A01793108

-

# **Modulo 1**
Curso de IBM

In [ ]:
# para lograr imprimir resultados en pantalla
print("Hola\nMundo")
## para comentar resultados
# print("Hola\nMundo")

Hola
Mundo

## 1.1 Tipos de data
1.   character = str
2.   boolean = bool no se menciona como dato
3.   interger = int
4.   float = float

In [ ]:
## tipo de data en python
print(type(int(1.1)))
print(bool(1))
print(int(True))

<class 'int'>
True
1

## 1.2 tipos de operaciones

In [ ]:
  ## multiplicacion
print(1*33)
  ## suma 
print(1+33)
  ## resta
print(1-33)
  ## division
print(20/3)
print(20//3) ## sirve para generar algoritmos

33
34
-32
6.666666666666667
6

## 1.1 Strings

In [ ]:
## Strings
## Metodos
  ## como las cadenas son secuencias pueden aplicarse métodos de listas y tuplas 
  ## pero adicionalmente tienen otro **grupo de métodos**

### union de variables 
print("gato" * 3)
print("perro gato" + "comen comida")
mascotas = "perro gato "
print( mascotas + "comen comida con otros perros")

#### indexación de strings
Numbers = "012345"
print(Numbers[:5]) ## imprime los numeros dentro del rango, inclido el final
print(Numbers[-1]) ## toma el ultimo elemento
print(Numbers[1:2]) ## acota la toma de elementos
print(Numbers[1:2])
print(Numbers[::2])
## restricciones determinar hasta que posicion toma informacion y luego cada 3 palabras
print(Numbers[:4:3]) 


### se le conoce como un final: \
print("perros y gatos \con dedos") ## se mantiene como un fin 
print("perros y gatos \\d")
print("perros y gatos\ncon dedos")
print(r"perros y gatos \\d") ## conserva un solo \
print("perros y gatos \tcon dedos")

###### metodos específicos para strings ########
nombre = "Jhonathan"
print(nombre.find("t")) # no admite listas para buscar elementos
print(nombre.find("th")) # arroja el valor donde se encuentra la primera letra en busqueda
print(nombre.upper())
print(nombre.replace("J", "X"))
print(len(nombre))

gatogatogato
perro gatocomen comida
perro gato comen comida con otros perros
01234
5
1
1
024
03
perros y gatos \ con dedos
perros y gatos \d
perros y gatos
con dedos
perros y gatos \\d
perros y gatos 	con dedos
5
5
JHONATHAN
Xhonathan
9

# **Modulo 2**



1.   Tuplas
2.   Listas
3.   Sets
4.   Dictionaries

## 2.1. Tuplas

In [ ]:
# son elementos que no pueden ser modificados 
print(("disco", 10, 1.2))
print(("disco", 10, 1.2) + ("a", "c"))
print(("disco", 10, 1.2)[2]) #puedo ingresar por indexacion de forma directa
print(("disco", 10, 1.2)[-2]) # existe indexacion inversa
print(("disco", 10, 1.2)[1:3]) 

# las tuplas pueden contener otros elementos complejos o simples
NT = (1, 2, ("pop", "rock"), (3,4), ("disco", (1,2)))
print(NT[2]) # podemos considerarlo como si fueran arboles
print(NT[2][1])
print(NT[2][1][3])

('disco', 10, 1.2)
('disco', 10, 1.2, 'a', 'c')
1.2
10
(10, 1.2)
('pop', 'rock')
rock
k

## 2.2. Listas

In [ ]:
L = ["Michale Jackson", 10.1, 1982] # puede contener elemenos
print(L)
print(L[0])
print(L[0:2])
print(L[0][1])
print(L + ["gatos"]) ## podemos aumentar elementos con suma
print(L + [(55)]) ## si introducimos una tupla en una lista con un solo elemento solo se incluye ese elemento
print(L + [("gatos", "caballo")]) ## se unen ya como tupla mas de un elemento
L.extend(["pop", 102]) ## aumenta la lista pero con los elementos pasados
print(L)
L.append(["pop", 102])
print(L)
L[0] = 1
print(L)
del(L[0]) ## Eliminar elementos
print(L)
resultado = "perro con gatos".split() # convertir un character en una lista
print(resultado)

['Michale Jackson', 10.1, 1982]
Michale Jackson
['Michale Jackson', 10.1]
i
['Michale Jackson', 10.1, 1982, 'gatos']
['Michale Jackson', 10.1, 1982, 55]
['Michale Jackson', 10.1, 1982, ('gatos', 'caballo')]
['Michale Jackson', 10.1, 1982, 'pop', 102]
['Michale Jackson', 10.1, 1982, 'pop', 102, ['pop', 102]]
[1, 10.1, 1982, 'pop', 102, ['pop', 102]]
[10.1, 1982, 'pop', 102, ['pop', 102]]
['perro', 'con', 'gatos']

In [ ]:
## existen herencias cuando una variable toma los valores d euna inicial
### en este caso si A es igual a B, entonces, si cambia algo de A esto pasará 
### en B
A = ["hard rock", 10, 1.2]
B = A
print(A,B)

['hard rock', 10, 1.2] ['hard rock', 10, 1.2]

In [ ]:
A[0] = "banana"
print(A,B)

['banana', 10, 1.2] ['banana', 10, 1.2]

In [ ]:
## Lo anterior no sucederá si se realiza una clonacion de la lista
A = ["hard rock", 10, 1.2]
B = A[:] # clonacion
print(A,B)

['hard rock', 10, 1.2] ['hard rock', 10, 1.2]

In [ ]:
A[0] = "banana"
print(A,B)

['banana', 10, 1.2] ['hard rock', 10, 1.2]

In [ ]:
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
A=(0,1,2,3)

## 2.3 Sets

In [ ]:
## a diferencia de las list y las tuplas, estas no mantienen el orden
SetExample = {"Triller", "rock and roll", "salsa", "amigos", "gato", "salsa", "Triller"}
print(SetExample) ## se resumen las palabras repetidas
SetExample.add("NSYNC")
print(SetExample)
SetExample.remove("NSYNC")
print(SetExample)
print("Who" in SetExample) # buscar si pertenece a ese elemento

{'salsa', 'gato', 'amigos', 'rock and roll', 'Triller'}
{'salsa', 'gato', 'amigos', 'rock and roll', 'NSYNC', 'Triller'}
{'salsa', 'gato', 'amigos', 'rock and roll', 'Triller'}
False

In [ ]:
## operaciones logico matemático
set_1 = {1,2,3,4,5,90,66,23,356,76,32}
set_2 = {66,32,56,90}
set_3 = {66,32}
  ## interseccion de sets
print(set_1 & set_2) # devuelve los resultados de intersección de los datos
print(set_1.intersection(set_2)) 
  ## union de sets
print(set_1.union(set_2)) ## mezcla los elementos una zola vez si es no existe repetidos
  ## verificar si existen elementos de un set en otro
print(set_3.issubset(set_1))
print(set_3.issubset(set_2))

print(set_3.issuperset(set_1))
print(set_3.issuperset(set_2))
print(set_1.issuperset(set_3))

print(set_2.difference(set_3))
print(set_3.difference(set_2)) ## estan contenidos todos

{32, 66, 90}
{32, 66, 90}
{32, 1, 2, 3, 4, 5, 66, 356, 76, 23, 56, 90}
True
True
False
False
True
{56, 90}
set()

## 2.4. Dictionaries

In [ ]:
# contienens keys and values
tabla = {"key1":1, "key2":"1", "key3":[1,46,23], "key4":(675,7,21), "key5":4}
print(tabla)
print(tabla.keys())
print(tabla.values())
print(tabla["key1"])
print(tabla["key3"])
tabla["key6"] = "hola mundo" # incluir un nuevo elemento
print(tabla)
# tabla = del(tabla["key1"])
print("key2" in tabla)
print("1" in tabla)

{'key1': 1, 'key2': '1', 'key3': [1, 46, 23], 'key4': (675, 7, 21), 'key5': 4}
dict_keys(['key1', 'key2', 'key3', 'key4', 'key5'])
dict_values([1, '1', [1, 46, 23], (675, 7, 21), 4])
1
[1, 46, 23]
{'key1': 1, 'key2': '1', 'key3': [1, 46, 23], 'key4': (675, 7, 21), 'key5': 4, 'key6': 'hola mundo'}
True
False

In [ ]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict ## puede ser una tupla una key

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
Dict[(0,1)] ## ingreso por la tupla al value

6

# Modulo 3

## 3.1 Conditions and branching

In [ ]:
## condicions 
i = 6 # ><
print(i > 2)
print(i < 2)
print(i != 6)
print("gato" == "perro")
print("gato" != "perro")

True
False
False
False
True

In [ ]:
## branching 
  ## nos permite ejecutar varias declaraciones para una entrada diferente
i = 17
if(i > 18):
  print("you can enter to concert")
print("move on")

i = 19
if(i > 18):
  print("you can enter to concert")
print("move on")

i = 19
if(i > 18):
  print("you can enter to concert ACDC")
else:
  print("go see Meat Loaf")
print("move on")

i = 17
if(i > 18):
  print("you can enter to concert ACDC")
else:
  print("go see Meat Loaf")
print("move on")


i = 17
if(i > 18):
  print("you can enter to concert ACDC")
elif(i == 18):
  print("go see Pink Floyd")
else:
  print("go see Meat Loaf")
print("move on")


i = 18
if(i > 18):
  print("you can enter to concert ACDC")
elif(i == 18):
  print("go see Pink Floyd")
else:
  print("go see Meat Loaf")
print("move on")

move on
you can enter to concert
move on
you can enter to concert ACDC
move on
go see Meat Loaf
move on
go see Meat Loaf
move on
go see Pink Floyd
move on

In [ ]:
## Logic operators
print(not(False))  #><
print(not(True))
 ### si existen dentro de una prueba logica de or un True, este predomina sobre un false
album_year = 1990
if(album_year < 1980) or (album_year > 1989):
  print("The Album was made in the 70´s or 90´s")
else:
  print("The Album was made in the 1980´s")

album_year = 1989
if(album_year > 1979) and (album_year < 1990):
  print("The Album was made in the 80´s")

True
False
The Album was made in the 70´s or 90´s
The Album was made in the 80´s

## 3.2 **Loops**

In [ ]:
## range
print(range(3))
print(range(10, 13))

range(0, 3)
range(10, 13)

In [ ]:
## FOR
colors = ["black", "blue", "red", "green", "yellow"]
print(colors)
for i in range(0,5):
  colors[i] = "white"
print(colors)

['black', 'blue', 'red', 'green', 'yellow']
['white', 'white', 'white', 'white', 'white']

In [ ]:
## FOR wiht -- enumerate
colors = ["black", "blue", "red", "green", "yellow"]
print(colors)
for i, colorOptions in enumerate(colors):
  colors[i] = "white"
  print(colorOptions)
print(colors)

['black', 'blue', 'red', 'green', 'yellow']
black
blue
red
green
yellow
['white', 'white', 'white', 'white', 'white']

In [ ]:
## WHILE
squares = ["orange", "orange", "purple", "blue"]
Newsquares = []
i = 0
while(squares[i] == "orange"):
  Newsquares.append(squares[i])
  i = i+1
print(Newsquares)

['orange', 'orange']

## 3.3 Functions

In [ ]:
## 
album_ratings = [10, 8.5, 9.5, 7, 7, 9.5, 9, 9.5] 

L = len(album_ratings)
print(L)
print(sum(album_ratings))

print(sorted(album_ratings))

8
70.0
[7, 7, 8.5, 9, 9.5, 9.5, 9.5, 10]

In [ ]:
album_ratings.sort()
print(album_ratings)

[7, 7, 8.5, 9, 9.5, 9.5, 9.5, 10]

In [ ]:
def add1(a):
  """
  add 1 to a documentation string
  """
  b = a+1
  return b
print(add1(5))
print(add1(10))
help(add1)

6
11
Help on function add1 in module __main__:

add1(a)
    add 1 to a documentation string

In [ ]:
## funcion de impresion 
def MJ():
   print("MK")
print(MJ())

## funcion sin cuerpo
def NoWork():
  pass ## key word, permite tener una función sin cuerpo y retornará none
print(NoWork)

MK
None

In [ ]:
def add1(a):
  b = a + 1
  print(a, "plus 1 equals", b) ## impresion 
  return b ## resultado a almacenar

add1(2)

2 plus 1 equals 3

3

In [ ]:
def printStuff(Stuff):
  for i,s in enumerate(Stuff):
    print("Album", i, "Rating is", s)

album_ratings = [10, 8.5, 9.5, 7, 7, 9.5, 9, 9.5] 
printStuff(album_ratings)

Album 0 Rating is 10
Album 1 Rating is 8.5
Album 2 Rating is 9.5
Album 3 Rating is 7
Album 4 Rating is 7
Album 5 Rating is 9.5
Album 6 Rating is 9
Album 7 Rating is 9.5

In [ ]:
## coleccion de argumentos
def ArtistNames(*names):

  for name in names:
    print(name)

ArtistNames("gato", "perro", "vaca")

gato
perro
vaca

In [ ]:
# global scope
def ACDC(y):
  print(Rating)
  return(Rating+y)

Rating = 9
# si no se le da los argumentos a la funcion y encuentra
# este en el entorno global, utilizará este valor dentro del entorno local
Z = ACDC(1)
print(Z)
print(Rating)

9
10
9

In [ ]:
### declarar variables globales
def PinkFloyd():
  global ClaimedSales
  ClaimedSales = "45 millon"
  return ClaimedSales

print(PinkFloyd())
print(ClaimedSales)

45 millon
45 millon

In [ ]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

## 3.4 Objects and Classes


### Tipos de datos

1.   int: 1, 3, 523
2.   float: 1.2, 412.1
3.   string: "a", "asdga"
4.   list: [1, 2, "abas"]
5.   dictionary: {"doc":1, "cat":2}
6.   bool: False, True

En python todos son objetos, y cada uno de estos tienen:

*   un tipo
*   una representación interna
*   un conjunto de funciones llamadas métodos para interactura con los datos

Tambien cada objeto tienen instancias de un tipo particular:

*   Tipo 1
*   Tipo 2 

cada vez que creamos un int, estamos creando una instacia de tipo entero o estamso creando un objeto entero

In [ ]:
## creamos una lista 
album_ratings = [10, 8.5, 9.5, 7, 7, 9.5, 9, 9.5] 
# ahora la ordenamos con una funcion o metodo propia de la instancia 
album_ratings.sort()
print(album_ratings)
album_ratings.reverse()
print(album_ratings)

[7, 7, 8.5, 9, 9.5, 9.5, 9.5, 10]
[10, 9.5, 9.5, 9.5, 9, 8.5, 7, 7]

## crear nuestras propias clases
las clases tienen: 

*   Data attributes
*   Methods

A partir de los métodos podemos y atributos de los datos podemos obtener objetos o instancias de la clase. 

En este caso se hará un circulo y rectangulo.

In [ ]:
# class circle
  ## conceptos necesarios: radius y color >> Data Attributes: radius y color: red
class Circle(object): # object es el padre de la clase # definimos nuestra clase 
  # ahora inicializamos cada instancia de la clase# atributos
  def __init__(self, radius, color): # sirve como constructor ## es una funcion especial de python y nos dice que eres
    self.radius = 3;
    self.color = color;
  #def add_radius(self,r)
  #  self.radius = self.radius + r
  # methods
  def add_radius(self, r):
    self.radius = self.radius + r

c1 = Circle(10, 'red')
print(c1.radius)
print(c1.color)
c1.add_radius(2)
print(c1.radius)
print(c1.color)

3
red
5
red

In [ ]:
dir(Circle)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_radius']

# Modulo 4

Hola Juan Miguel, realice algunos laboratorios dentro de mis apuntes, finalmente, hice unos cuantos más en la parte final, podría decirce los restantes.

## 4.1 Carga de datos con Open

In [ ]:
!ls
## creo on documento .txt para practicar el ejercicio

ejemplo.csv  Example1.txt  sample_data

In [ ]:
file1 = open('Example1.txt', 'r')
print(file1.name) ## obtenemos el nombre del archivo
print(file1.mode) ## obtenemos que modo de open hemos ocupado
file1_content = file1.read() ## elemos el documento
print(file1_content)
file1.close() # cerramos el documento
## esta no es la mejor manera de trabar con open

Example1.txt
r
This is line 1 \nThis is line 2\nThis is line 3

In [ ]:
### correcta manera de cargar con open
with open('Example1.txt', 'r') as file1:
  fileContent = file1.read()
  print(fileContent)
file1.close()

This is line 1 \nThis is line 2\nThis is line 3

In [ ]:
with open('Example1.txt', 'r') as file1:
  print(file1.read(3))
  print(file1.read(5))
  print(file1.read(7))
  print(file1.read(3))
file1.close()

Thi
s is
line 1
\nT

## 4.2 Escritura de datos con Open

In [ ]:
file1 = open("escritura.txt", "w")
file1

In [ ]:
with open("escritura.txt", "w") as file1:
  file1.write("This is line A\n")
  file1.write("This is line B\n")

In [ ]:
Lines = ['1\n','2\n','3\n','4\n']

['1\n', '2\n', '3\n', '4\n']

In [ ]:
with open("escritura.txt", "w") as file1: ## leemos los elementos con el for
  for line in Lines:
    file1.write(line)

In [ ]:
open("escritura.txt", "a") # append nuevos datos

In [ ]:
!ls

ejemplo.csv  escritura.txt  Example1.txt  sample_data

## 4.3 Carga de datos con pandas

In [ ]:
# import pandas
import pandas # cargar sin abreviatura
import pandas as pd # cargar con abreviatura
# pd.read_csv() # cargar documento csv
# pd.read_csv() # cargar documento excel  
# df.head() # ver las 5 primeras filas

In [ ]:
## Creacion de un DF por medio de un diccionario

songs = {'Album': ['a','b','c','d'],
         'Year': [1,2,3,4],
         'Length': [12,32,54,6]}

songs_frame = pd.DataFrame(songs)
print(songs_frame) # data frame completo
print(songs_frame['Album']) # una columna del data frame 
print(songs_frame[['Album','Year']]) # una columna del data frame

  Album  Year  Length
0     a     1      12
1     b     2      32
2     c     3      54
3     d     4       6
0    a
1    b
2    c
3    d
Name: Album, dtype: object
  Album  Year
0     a     1
1     b     2
2     c     3
3     d     4

## 4.4 Trabajar y guardar datos con pandas

In [ ]:
ejemplo = {'a':[1,1,1,1,3,4,5,6,6,6,4,2,674,345653,2145,234,6]}
ejemplo = pd.DataFrame(ejemplo)
ejemplo

         a
0        1
1        1
2        1
3        1
4        3
5        4
6        5
7        6
8        6
9        6
10       4
11       2
12     674
13  345653
14    2145
15     234
16       6

In [ ]:
ejemplo['a'].unique()

array([     1,      3,      4,      5,      6,      2,    674, 345653,
         2145,    234])

In [ ]:
ejemplo[ejemplo['a'] > 10]

         a
12     674
13  345653
14    2145
15     234

In [ ]:
## para guardar csv
ejemplo.to_csv('ejemplo.csv')
!ls

ejemplo.csv  Example1.txt  sample_data

## laboratorios modulo 4

In [ ]:
## quiz 4.3 laboratorio 
# import pandas as pd # se comenta porque ya esta cargada la libreria

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
print(df[:3])
print(df.head(3))
print(df["a"])

In [7]:
# laboratorio 4.4
# 1.Find the unique values in column  'a' :
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
print(df["a"].unique())
# 2. Return a dataframe with only the rows where column  a  is less than two:
print(df[df["a"]<2])

[1 2]
   a  b
0  1  1
2  1  1

In [9]:
# pandas Practice
#Problem 1: Create a dataframe to display the result as below:
practica = pd.DataFrame(
    {"Student": ["David","Samuel","Terry","Evan"],
     "Age": [27,27,22,32],
     "Country": ["UK","Canada","China","USA"],
     "Course": ["Python","Data Structures","Machine Learning","Web Development"],
     "Marks": [85,72,89,76]}
)
practica

  Student  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   27  Canada   Data Structures     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA   Web Development     76

In [15]:
#Problem 2: Retrieve the Marks column and assign it to a variable b
b=practica["Marks"]

#Problem 3: Retrieve the Country and Course columns and assign it to a variable c
c=practica[["Country","Course"]]